/*  STYLES
-------------------------------------------------- */

.navbar{
    height: 100px;
}

ul.navbar-nav{
text-align: center;
width: 100%;
display: block ruby;
}

.nav-link i{
    color: white;
}
.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark img{
    height: 120px;
}
.carousel-caption.text-right img{

    width: 90%;
    margin-bottom: 30px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
}

.container.marketing h2{
    text-align: center;
    margin-bottom: 30px;
}

.featurette-heading{
    margin-top: 1rem;
    font-size: 200%;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.block-news {
    background-color: #e0e1e1;
    border-radius: 20px;
}
.block-news img{
    border-radius: 20px;
}

.block-news svg {
    border-radius: 20px 0px 0px 20px;
}



.col-lg-8.espace-news hr.featurette-divider{
    margin: 2.5rem;
}

.block-twitter {
    background-color: #e0e1e1;
    border-radius: 20px;
}
.block-twitter p.lead {
    font-size: 0.7rem;
}

.block-twitter h4.featurette-heading {
    font-size: 1rem;
}

.block-twitter i {
    margin: 30px;
}

.espace-twitter hr.featurette-divider{
    margin: 1rem;
}

footer {
    height: auto;
    background-color: #343a40;
    margin-bottom: -100px;
    color: white;
}

footer .col-md-4{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.copy {
    text-align: center;
    
}

.col-lg-4 .card{
    margin-bottom: 20px;
}

.container-projection img{
    width: 60%;
}
.container-projection{
    margin-bottom: 20px;
}

.action-projection {
    height: 100px;
    background-color: #d2d2d2;
    text-align: center;
    margin-bottom: 20px;
    display: block ruby;
}
.action-projection p {
    margin: 40px;
}

.action-projection button {


}
